<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/engine/gfx/primitive.js"></script>
    <script src="/engine/gfx/primitivesGroup.js"></script>
    <script src="/engine/gfx/PathBasedPrimitive.js"></script>
    <script src="/engine/gfx/circle.js"></script>
    <script src="/engine/gfx/rect.js"></script>
    <script src="/engine/gfx/image.js"></script>
    <script src="/client.js"></script>
    <title>Document</title>
</head>
<body>
    <h4><%= message %></h4>
    <canvas id="gameCanvas" width="200" height="200"></canvas>
</body>
</html>
